@model List<Student>
<div class="container">
    <a href="/students/create" class="btn btn-success">Add New Student</a>
    <h3>List of students</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                     <th>Middle Name</th>
                      <th>Last Name</th>
                       <th>Department</th>
                       <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                 <tr>
                <td>@item.FirstName</td>
                <td>@item.MiddleName</td>
                <td>@item.LastName</td>
                <td>@item.Department</td>
                <td>
                    <a asp-action="Details" asp-route-Id="@item.Id" class="btn btn-info">
                       Details
                    </a>
                </td>
                    <td>
                        <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-info">
                            Delete
                        </a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-info myclass" >
                            Edit
                        </a>
                    </td>
            </tr>
            }
           
        </tbody>
    </table>
</div>
